@model SalaryApp.Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
}

<div class="container-fluid">
    <h1>Delete Employee</h1>

    <div class="alert alert-warning">
        <h4 class="alert-heading">Warning!</h4>
        <p>Are you sure you want to terminate this employee? This action cannot be undone.</p>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Employee Information</h5>
                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FirstName)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.FirstName)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MiddleName)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MiddleName)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LastName)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.LastName)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Company)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Company.Name)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Position)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Position.Title)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Office)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Office.Name)</dd>

                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.HireDate)</dt>
                        <dd class="col-sm-9">@Model.HireDate.ToString("dd/MM/yyyy")</dd>
                    </dl>
                </div>
            </div>

            <form asp-action="Delete" class="mt-4">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Terminate Employee
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </form>
        </div>
    </div>
</div> 